# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/

# Logs
*.log

# Temporários
*.tmp
*.temp

# Variáveis de ambiente futuras
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
